# Google Cloud Key
google_key.json

# Airflow Logs & Databases
logs/
airflow-webserver.pid
standalone_admin_password.txt
unittests.cfg

# Python
__pycache__/
*.pyc
venv/
.env

# dbt
.user.yml
target/
dbt/target/
dbt/dbt_packages/
dbt/logs/
